body {
    /*min-width: 600px;*/
    margin: 0px;
    background-color: #2A2A2A;
    overflow: auto;
}

header {
    background-color: #009999;
    height: 30%;
}

h1 {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-family: Helvetica, sans-serif;
    color: white;
    padding: 5px;
    opacity: 0.7;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    border-style: solid;
    border-spacing: 5px;
    border-color: white;
}

#navigation {
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0 auto;
    z-index: 100;
    height: 35px;
    padding-top: 15px;
    min-width: 675px;
    border:1px solid #ccc;
    border-width:1px 0;
}

table {
    width: 50%;
    margin: 0 auto;
}

.profilePic {
    border-radius:50%;
    float: right;
    padding: 5%;
    width: 17%;
}

p {
    float: left;
    margin-top: 8%;
    margin-left: 6%;
    max-width: 60%;
    color: white;
    font-family: Helvetica, sans-serif;
    font-size: 1.2em;
    margin-bottom: 12%;
}

ul {
    margin: 0;
    text-align: center;
    padding: 0;
    list-style-type: none;
}

li {
    display: inline;
    margin-left: 20px;
    margin-right: 20px;
    list-style-type: none;
}

a:link, a:visited {
    color: #FFFFFF;
    font-family: Helvetica, sans-serif;
    font-size: 120%;
    text-decoration: none
}

a:hover, a:active {
    background-color: #66C2C2;
}

h2 {
    position: relative;
    top: 0;
    margin-left: 6%;
    font-family: Helvetica, sans-serif;
    color: white;
}

#intern {
    clear: both;
    float: left;
    display: block;
    position: relative;
    color: white;
}

.internEx {
    float: left;
    padding: 3%;
    width: 20%;
    border-radius: 50%;
}

#ppgDescription {
    margin-top: 6%;
    font-size: 120%;
    font-family: Helvetica, sans-serif;
}

#bettispic {
    position: absolute;
    padding: 5%;
    width: 20%;
    border-radius: 50%;
}

#bettisDescription {
    position: absolute;
    margin-top: 12%;
    font-size: 120%;
    font-family: Helvetica, sans-serif;
}

#contact {
	clear: both;
    float: left;
    display: block;
    position: relative;
    color: white;
    width: 100%;
    background-color: #009999;
}

h3 {
    margin-top: 20px;
    text-align: center;
    font-family: Helvetica, sans-serif;
    color: white;
}

h4 {
    text-align: center;
    font-family: Helvetica, sans-serif;
    color: #2A2A2A;
}

.contactImg {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    padding 0;
    margin 0;
}

#activities {
    clear: both;
    float: left;
    display: block;
    position: relative;
    color: white;
}

.actImg {
    width: 19%;
    border-radius: 20%;
    float: left;
    padding-left: 5%;
    padding: 3%;
}

.actTitle {
    margin-top: 0;
    margin-left: 0;
    width: 19%;
    float: left;
    padding-left: 5%;
    padding: 3%;
}
