header{
	background-color: #009999;
	height: 35%;

}
h1 {
	position: relative;
  	top: 50%;
 	 transform: translateY(-50%);
	font-family: Helvetica, sans-serif;
	color: #2A2A2A;
	padding: 5px;
	opacity: 0.6;
	margin-left: 340px;
	margin-right: 340px;

	text-align: center;
	border-style: solid;
	border-spacing: 5px;
	border-color: #2A2A2A
}